<div class="navbar-item has-dropdown" data-controller="header-dropdown" data-header-dropdown-target="dropdown">
  <a class="navbar-link is-hidden-mobile is-hidden-tablet" data-action="click->header-dropdown#toggle">
    <div class="image is-rounded">
      <%= profile_image(current_user, 32, true) %>
    </div>
  </a>

  <div class="navbar-dropdown">
    <%= link_to 'Profile', current_user, class: "navbar-item" %>
    <hr class="navbar-divider">
    <%= link_to 'Log out', destroy_user_session_path, class: "navbar-item", data: {
      turbo_method: :delete
    } %>
  </div>
</div>
