<div class="navbar-item">
  <div class="buttons">
    <%= link_to 'Sign up', new_user_registration_path, class: "button is-primary" %>
    <%= link_to 'Log in', new_user_session_path, class: "button is-light" %>
  </div>
</div>