  <% if user.notifications.not_read.any? %>
    <span class="fa-layers fa-2x icon notification-count">
      <i class="fa-solid fa-bell"></i>
      <span class="fa-layers-counter"><%= user.notifications.not_read.count %></span>
    </span>
  <% else %>
    <span class="fa-layers icon fa-2x">
      <i class="fa-solid fa-bell"></i>
    </span>
  <% end %>