<div class="columns is-centered m-2">
  <div class="column is-half">
    
    <% unless @notifications.any? %>
        You do not have any notifications
    <% end %>

    <%= render @notifications %>
    <%= paginate @notifications %>
  </div>
</div>
