<div class="container is-flex is-justify-content-center">
  <div class="content is-flex is-flex-direction-column">
    <%= render 'profile', user: @user %>
    <div class="posts ">
      
      <% @posts.each do |post| %>
        <%= render 'posts/post_light', post: %>
      <% end %>
    </div>
  </div>
</div>