<%= turbo_frame_tag dom_id(followed_user) do %>
  <% follow = find_follow(current_user, followed_user)%>
  <% if follow %>
    <%= link_to user_follow_path(followed_user, follow), class: "level-item unfollow", data: {
                            turbo_method: :delete
                          } do %>
      <div class="button is-danger">
        Unfollow
      </div>
    <% end %>
  <% else %>
    <%= render 'follows/form', followed_user: followed_user %>
  <% end %>
<% end %>
