<div class="columns is-centered is-desktop m-2">
  <div class="column is-half">
    <h1>Posts</h1>
      <% @posts.each do |post| %>
        <%= render "post_box", post: %>
      <% end %>
    <%= paginate @posts %>
  </div>
</div>