<div class="container is-desktop is-flex is-justify-content-center">
    <div class="content">
      <h1>Posts</h1>
    
        <% @posts.each do |post| %>
          <%= render "post_box", post: %>
        <% end %>
    </div>
</div>