// @charset "utf-8";

// Set your brand colors
$purple: #8C331F;
$sable: #F2AE72;
$brown: #591F12;
$light-brown: #DD8B52;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// Path to Bulma's sass folder
@use "bulma/sass" with (
  $grey-dark: $purple,
  $grey-light: $beige-light,
  $primary: $brown,
  $link: $sable,
  $info: $light-brown
);
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "trix/dist/trix";
@import "actiontext.css";
@import 'bulma/bulma';

.is-fullheight-100vh {
  min-height: 100vh;
}

trix-toolbar .trix-button-row {
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .trix-button-row {
    .trix-button-group {
        .trix-button {
            border: 0;
            background-color: transparent;
            filter: invert(100%);
        }
    }
  }
}
